/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0; 
    padding: 0;
}

html {
	height: 100%;
	width: 100%;
    background-color: #fde56d;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f4d435' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#color-form {
    margin: 2rem 0;
	text-align: center;
    border: 0 none;
    outline: none;
    background: white;
    padding: 2rem;
}


input#hex1Input {
    background-color: transparent;
    border: none;
    height: 40px;
}
input#hex2Input {
    background-color: transparent;
    border: none;
    height: 40px;
}

input#hex3Input {
    background-color: transparent;
    border: none;
    height: 40px;
}
input#hex4Input {
    background-color: transparent;
    border: none;
    height: 40px;
}

input#newScheme {
    padding: 10px;
}
input#creatorNameInput{
    padding: 10px;
}
input#userSchemeInput {
    padding: 10px;
}
/*inputs*/
#color-form input, #color-form textarea {
	/* padding: 1rem; */
	margin-bottom: 0.6rem;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
    color: #666;
    font-size: 0.8rem;
    outline: none;
}

/*button*/
#color-form .action-button {
	width: 20vw;
	background: #2C3E50;
	font-weight: bold;
	color: rgb(240, 240, 240);
	border: 0 none;
	cursor: pointer;
	padding: 0.6rem 0.3rem;
    margin: 0.6rem 0.3rem;
    outline: 0;
}

.action-button-secundary {
    width: 20vw;
	background-color: #FFE4F6;
	font-weight: bold;
	color: #2C3E50;
	border: 0 none;
	cursor: pointer;
	padding: 0.6rem 0.3rem;
    margin: 0.6rem 0.3rem;
    outline: 0;
}

.action-button-update {
    width: 20vw;
	background-color: #FFE4F6;
	font-weight: bold;
	color: #2C3E50;
	border: 0 none;
	cursor: pointer;
	padding: 0.6rem 0.3rem;
    margin: 0.6rem 0.3rem;
    width: 9rem;
    margin-right: 1rem;
    outline: 0;

}


.flex { 
    display: flex;
    justify-content: space-evenly;
}

/*headings*/
.formTitle {
	font-size: 2rem;
	text-transform: uppercase;
	color: #2C3E50;
	margin: 1rem 0;
}
.formSubtitle {
	font-weight: normal;
	font-size: 0.9rem;
	color: #666;
	margin-bottom: 1.3rem;
}

.showHex {
    display: flex;
    width: 7rem;
    height: 2rem;
    padding: 1rem;
    flex-grow: 2;
}


.schemeVueBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0 none;
    /* padding: 2rem 4.5rem; */
    background-color: #25282a;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23535556' fill-opacity='0.48' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: #f8f7f2;

}

.specificSchemeVueBox {
    justify-content: space-around;
	margin: 3rem auto;
    border: 0 none;
    padding: 2rem;
    display: flex;
    color:#25282a;
}

.creatorName {
    padding: 0.5rem 0;
    color: #666;
    background-color: #f8f7f2;
    text-align: center;
    margin-bottom: 1rem;
}
.colorScheme {
    padding: 0.5rem 0;
    color: #f8f7f2;
    text-align: center;
    background-color: black;
}

.oneScheme {
    padding: 20px 15px;
}

.idname {
    padding: 0.5rem 0;
    color: #f8f7f2;
    text-align: center;
    font-size: small;
    border: 0.5rem solid #f8f7f2;
}



.creatorNameLightBG {
    padding: 0.5rem 0;
    color: #f8f7f2;
    background-color: #25282a;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23535556' fill-opacity='0.48' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    width: 9rem;
   
}
.colorSchemeLightBG {
    padding: 0.5rem 0;
    color: #2C3E50;
    text-align: center;
    width: 7rem;
}

.title {
    padding: 3rem;
    font-size: x-large;
    font-weight: 700;
}

label {
    display: flex;
    justify-content: start;
    color: rgba(54, 54, 54, 0.712);
    font-size: small;
    padding: 0.3rem 0;
}


@media screen and (max-width: 600px) {
    #color-form input, #color-form textarea {
     background: whitesmoke;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    #color-form .action-button {
        width: 80vw;
    }

    #AllColorSchemes{
        width: 100vw;
        padding:2rem 4.3rem;
    }
  }